.divLogin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13vh;
  font-family: 'Josefin Sans';
  position: fixed;
  background-color: #ffff;
  width: 100%;
  border-bottom: solid .1px #18a318;
  height: 8vh;
}

.titleH1 {
  color: #18a318;
  margin: 1vh;
  font-weight: 600;
  font-size: 2.5rem;
}

.divHeaderUserIconeCarrinho {
  display: flex;
  margin: 2vh;
  font-weight: 700;
}

.divHeaderUserIconeCarrinho p {
  display: flex;
  align-items: baseline;
  margin-right: 20px;
}

.divHeaderUserIconeCarrinho span {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 10px 0 10px;
  color: #18a318;
}

.divHeaderUserIconeCarrinho img {
  cursor: pointer;
  width: 5vh;
}

.imgBtnHome {
  cursor: pointer;
}